@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 0, 0%, 100%; /* Black in HSL */
  --primary-foreground: 0, 0%, 0%; /* White in HSL */
  --primary-hover: 0, 0%, 80%; /* Light Gray */
  --rounded-lg: 0.5rem;
  --rounded-full: 9999px;
  --rounded-md: 0.375rem;
  --rounded-lg: 0.75rem;
  --rounded-xl: 2rem;
  --rounded-mega: 5rem;
}

body {
  font-family: var(--font-libre_franklin), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-cormorant_garamond), serif;
  font-weight: bold; /* Make headers bold */
  padding: 0.5rem; /* Add padding to headers */
}

h1 {
  font-size: 2.5rem; /* Increase font size for h1 */
}

h2 {
  font-size: 2rem; /* Increase font size for h2 */
}

h3 {
  font-size: 1.75rem; /* Increase font size for h3 */
}

h4 {
  font-size: 1.5rem; /* Increase font size for h4 */
}

h5 {
  font-size: 1.25rem; /* Increase font size for h5 */
}

h6 {
  font-size: 1rem; /* Increase font size for h6 */
}
